/*.o
/*.bdw
/*.semi
/*.whippet
/*.generational-whippet
/*.parallel-whippet
/*.parallel-generational-whippet
/*.stack-conservative-whippet
/*.stack-conservative-generational-whippet
/*.stack-conservative-parallel-whippet
/*.stack-conservative-parallel-generational-whippet
/*.heap-conservative-whippet
/*.heap-conservative-generational-whippet
/*.heap-conservative-parallel-whippet
/*.heap-conservative-parallel-generational-whippet
/.deps/
